body {
  background: #17181C;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --orange: #E77330;
  --dark_orange: #C43200;
  --blue: #00A6FB;
  --dark_blue: #0552AA;
}

button {
  background: var(--orange);
  border: none;
  outline: none;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background 0.25s, -webkit-transform 0.25s;
  transition: background 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, background 0.25s;
  transition: transform 0.25s, background 0.25s, -webkit-transform 0.25s;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: var(--dark_orange);
}

button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

textarea {
  outline: none;
  background: var(--orange);
  padding: 1em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.lore_updatore {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title" "input input" "output preview" "buttons none";
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 1em;
  padding: 1em;
  grid-gap: 1em;
  height: auto;
  background: var(--blue);
}

div.lore_updatore > .buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: buttons;
      grid-template-areas: "give output";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.lore_updatore > .buttons.hidden {
  visibility: hidden;
}

div.lore_updatore > .input {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: input;
  resize: vertical;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.lore_updatore > .output {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: output;
  word-break: break-all;
}

div.lore_updatore > .preview {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: preview;
  word-break: break-all;
  font-family: "MinecraftiaRegular";
  border: 0.25em solid #220155;
  border-radius: 0.5em;
  background: #120312;
  width: 100%;
  padding: 0.5em;
}

div.lore_updatore > .preview * {
  font-family: inherit;
}

div.lore_updatore > .preview .black {
  color: #000;
}

div.lore_updatore > .preview .dark_blue {
  color: #00A;
}

div.lore_updatore > .preview .dark_green {
  color: #0A0;
}

div.lore_updatore > .preview .dark_aqua {
  color: #0AA;
}

div.lore_updatore > .preview .dark_red {
  color: #A00;
}

div.lore_updatore > .preview .dark_purple {
  color: #A0A;
}

div.lore_updatore > .preview .gold {
  color: #FA0;
}

div.lore_updatore > .preview .gray {
  color: #AAA;
}

div.lore_updatore > .preview .dark_gray {
  color: #555;
}

div.lore_updatore > .preview .blue {
  color: #55F;
}

div.lore_updatore > .preview .green {
  color: #5F5;
}

div.lore_updatore > .preview .aqua {
  color: #5FF;
}

div.lore_updatore > .preview .red {
  color: #F55;
}

div.lore_updatore > .preview .light_purple {
  color: #F5F;
}

div.lore_updatore > .preview .yellow {
  color: #FF5;
}

div.lore_updatore > .preview .white {
  color: #FFF;
}

div.lore_updatore > .preview .bold {
  font-weight: bold;
}

div.lore_updatore > .preview .strikethrough {
  text-decoration: line-through;
}

div.lore_updatore > .preview .underlined {
  text-decoration: underline;
}

div.lore_updatore > .preview .strikethrough.underlined {
  text-decoration: line-through underline;
}

div.lore_updatore > .preview .italic {
  font-style: italic;
}

div.lore_updatore > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}
