body {
	background: #17181C;
}

* {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
}

:root {
	--orange: #E77330;
	--dark_orange: #C43200;
	--blue: #00A6FB;
	--dark_blue: #0552AA;
}

button {
	background: var(--orange);
	border: none;
	outline: none;
	padding: 1em;
	box-sizing: border-box;
	cursor: pointer;
	transition: transform 0.25s, background 0.25s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	&:hover {
		transform: scale(1.1);
		background: var(--dark_orange);
	}

	&:active {
		transform: scale(0.9);
	}
}

textarea {
	outline: none;
	background: var(--orange);
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.lore_updatore {
	display: grid;
	grid-template-areas: 
	"title title"
	"input input"
	"output preview"
	"buttons none";
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	margin: 1em;
	padding: 1em;
	grid-gap: 1em;
	height: auto;
	background: var(--blue);

	> .buttons {
		width: 100%;
		display: grid;
		grid-gap: 1em;
		grid-area: buttons;
		grid-template-areas: 
		"give output";
		grid-template-columns: 1fr 1fr;

		&.hidden {
			visibility: hidden;
		}
	}

	> .input {
		width: 100%;
		grid-area: input;
		resize: vertical;
		box-sizing: border-box;
	}

	> .output {
		grid-area: output;
		word-break: break-all;
	}

	> .preview {
		grid-area: preview;
		word-break: break-all;
		font-family: "MinecraftiaRegular";
		border: 0.25em solid #220155;
		border-radius: 0.5em;
		background: #120312;
		width: 100%;
		padding: 0.5em;
		
		* {
			font-family: inherit;
		}
		
		.black { color: #000; }
		.dark_blue { color: #00A; }
		.dark_green { color: #0A0; }
		.dark_aqua { color: #0AA; }
		.dark_red { color: #A00; }
		.dark_purple { color: #A0A; }
		.gold { color: #FA0; }
		.gray { color: #AAA; }
		.dark_gray { color: #555; }
		.blue { color: #55F; }
		.green { color: #5F5; }
		.aqua { color: #5FF; }
		.red { color: #F55; }
		.light_purple { color: #F5F; }
		.yellow { color: #FF5; }
		.white { color: #FFF; }
		.bold { font-weight: bold; }
		.strikethrough { text-decoration: line-through; }
		.underlined { text-decoration: underline; }
		.strikethrough.underlined { text-decoration: line-through underline; }
		.italic { font-style: italic; }
	}

	> .title {
		grid-area: title;
	}
}